<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>224658425083-1vlq2vcdd9cmalr2pvqumus44aplj95i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.224658425083-1vlq2vcdd9cmalr2pvqumus44aplj95i</string>
	<key>API_KEY</key>
	<string>AIzaSyAMVm5UFRAE8bhkD65613FxZYOK-jn74ac</string>
	<key>GCM_SENDER_ID</key>
	<string>224658425083</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.shiv.crew</string>
	<key>PROJECT_ID</key>
	<string>crew-89bf8</string>
	<key>STORAGE_BUCKET</key>
	<string>crew-89bf8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:224658425083:ios:9c7d9ffdac49e31d9a1c5e</string>
</dict>
</plist>